@use "release.mixins";
@use "../vars" as *;

.HelmReleases {
  .TableCell {
    &.status {
      @include release.release-status-colors;
    }

    &.version {
      > .Icon {
        margin-left: $margin;

        &.new-version {
          color: var(--colorInfo);
        }
      }
    }
  }
}
