@use "../table/table.mixins";

.PriorityClasses {
  .TableCell {
    &.name {
      flex: 2;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.keys {
      flex: 2.5;
    }

    &.age {
      flex: 0.3;
    }
  }
}
