@use "../network/network-mixins";
@use "../table/table.mixins";

.PortForwards {
  .TableCell {
    &.warning {
      @include table.table-cell-warning;
    }

    &.status {
      @include network-mixins.port-forward-status-colors;
      flex: 0.6;
    }
  }
}
