.Input.SearchInput {
  --compact-focus-width: 190px;
  --spacing: 6px 6px 6px 10px;

  max-width: 900px;
  min-width: 220px;

  > label {
    color: inherit;
    background: none;
    box-shadow: 0 0 0 1px var(--halfGray);
    padding: var(--spacing);

    .Icon {
      height: calc(var(--margin) * 2);
      width: calc(var(--margin) * 2);
    }

    .search-modifiers {
      display: flex;
      align-items: center;
      margin-right: 4px;
      color: var(--textColorTertiary);
      font-size: 12px;
      user-select: none;

      .modifiers-trigger {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
      }

      .modifier {
        padding: 2px 4px;
        transition:
          background-color 0.15s,
          color 0.15s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 16px;
        height: 16px;

        &:hover {
          background-color: var(--halfGray);
        }

        .square-icon {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: currentColor;
          border-radius: 1px;
        }
      }
    }
  }

  .SearchModifiersMenu {
    .Menu {
      min-width: 180px;
    }
  }

  &.compact {
    min-width: 0;

    .input {
      transition: width 150ms;

      &:placeholder-shown:not(:focus) {
        transition-duration: 100ms;
        width: 0;
        margin: 0;
      }

      &:focus,
      &:not(:placeholder-shown) {
        width: var(--compact-focus-width);
      }
    }
  }
}
