@use "autoscaler.mixins";
@use "../vars" as *;

.HpaDetails {
  .conditions {
    @include autoscaler.hpa-status-bgc;
  }

  .metrics .Table {
    margin: 0 (-$margin * 3);

    .TableCell {
      word-break: break-word;

      &:first-child {
        margin-left: $margin * 2;
      }

      &:last-child {
        margin-right: $margin * 2;
      }

      &.name {
        flex-grow: 2;
      }
    }
  }
}
