@use "../table/table.mixins";

.Secrets {
  .TableCell {
    &.name {
      flex: 1.5;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.labels {
      @include table.table-cell-labels-offsets;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
