@use "../vars" as *;

.DrawerTitle {
  margin: $margin * 3 (-$margin * 3);
  background: var(--drawerSubtitleBackground);
}

.DrawerTitle.title {
  padding: $padding * 1.5 $padding * 3;
}

.DrawerTitle.sub-title {
  padding: $padding $padding * 2;
}
