@use "../vars" as *;

.Drawer {
  --spacing: #{$padding * 3};
  --icon-focus-color: white;

  position: absolute;
  background: var(--contentColor);
  box-shadow: 0 0 $unit * 2 var(--boxShadow);
  z-index: $zIndex-drawer;
  height: 100%;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left,
  &.right {
    top: 0;
    width: var(--size);
    max-width: 95vw; /* Prevent drawer to be bigger than viewport */
  }

  &.top,
  &.bottom {
    left: 0;
    width: 100%;
    height: var(--size);
  }

  .drawer-wrapper {
    height: 100%;
    min-height: 100%;
  }

  .drawer-title {
    background: var(--blue);
    color: var(--drawerTitleText);
    padding: $padding $padding * 2.5;
    position: relative;
    min-height: 54px;
    flex-wrap: wrap;
    gap: $padding * 0.5;

    .drawer-title-text {
      font-weight: bold;
      flex: 1 1 auto;
      min-width: 0;
      padding-right: $padding;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .drawer-title-text .Icon {
      opacity: 0;
      font-weight: normal;
      margin-left: 0;
      flex-shrink: 0;
    }

    .drawer-title-text:hover .Icon {
      opacity: 1;
      transition: opacity 250ms;
    }

    .MenuActions.toolbar {
      flex-shrink: 0;
      margin-left: auto;

      .Icon {
        color: var(--drawerTitleText);
      }
    }

    > .Icon {
      flex-shrink: 0;
    }

    @container (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;

      .drawer-title-text {
        width: 100%;
        padding-right: 0;
      }

      .MenuActions.toolbar {
        margin-left: 0;
        width: 100%;
        justify-content: flex-end;
      }

      > .Icon {
        align-self: flex-end;
        margin-top: $padding * 0.5;
      }
    }

    .Menu {
      box-shadow: none;
    }
  }

  .drawer-content {
    overflow: auto;
    padding: var(--spacing);
  }
}
