@use "sass:math";
@use "../vars" as *;

.EndpointSliceDetails {
  .title {
    margin-top: $margin * 2;
    margin-bottom: $margin;
  }

  .TableCell {
    &.conditions {
      flex-grow: 1.5;
    }
  }

  .conditions {
    .ready {
      background-color: #4caf50;
      color: #ffffff;
      margin: math.div($margin, 2);
    }

    .serving {
      background-color: #068dbf;
      color: #ffffff;
      margin: math.div($margin, 2);
    }

    .terminating {
      background-color: #4c5053;
      color: #ffffff;
      margin: math.div($margin, 2);
    }
  }
}
