@use "../vars" as *;

.PieChart {
  .chart-container {
    width: 120px;
    min-height: 150px;
  }

  .legend {
    margin-top: $margin;
    flex-direction: column;

    > * {
      &.LegendBadge:hover {
        background-color: transparent;
      }

      margin-bottom: $margin;
    }
  }
}
