// ref: https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/types.go
$custom-resource-definitions-condition-colors: (
  Established: var(--colorSuccess),
  Finalizing: var(--colorTerminated),
  NamesAccepted: var(--colorOk),
  NonStructuralSchema: var(--colorError),
  Terminating: var(--colorTerminated),
  KubernetesAPIApprovalPolicyConformant: var(--colorWarning),
);

@mixin custom-resource-definitions-condition-colors {
  @each $status, $color in $custom-resource-definitions-condition-colors {
    .#{$status} {
      background: $color;
      color: white;
    }
  }
}
