$vpa-status-colors: (
  RecommendationProvided: var(--colorOk),
  LowConfidence: var(--colorInfo),
  FetchingHistory: var(--colorInfo),
  NoPodsMatched: var(--colorInfo),
  RecommendationMissing: var(--colorInfo),
  ConfigUnsupported: var(--colorError),
  UpdateModeUnsupported: var(--colorError),
  UpdateInProgress: var(--colorWarning),
);

@mixin vpa-status-bgc {
  @each $status, $color in $vpa-status-colors {
    &.#{$status} {
      background: $color;
      color: white;
    }
  }
}
