@use "../table/table.mixins";

.PodSecurityPolicies {
  .Table {
    .TableCell {
      &.volumes {
        flex-grow: 2;
      }

      &.warning {
        @include table.table-cell-warning;
      }
    }
  }
}
