@use "../vars" as *;

.WorkloadsOverview {
  --flex-gap: #{$padding * 2};
  min-height: 100%;

  .header {
    background: var(--contentColor);
    position: relative;
    padding: $padding * 2;

    h5 {
      color: var(--textColorPrimary);
    }

    .Icon.load-error {
      color: var(--colorWarning);
    }
  }
}
