@use "../table/table.mixins";

.StatefulSets {
  .TableCell {
    &.name {
      flex-grow: 2;
    }

    &.ready {
      flex-grow: 0.4;
    }

    &.desired {
      flex-grow: 0.4;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.age {
      flex-grow: 0.2;
    }
  }
}
