@use "../workloads/workloads-mixins";
@use "../vars" as *;

$pod-condition-colors: (
  ContainersReady: var(--colorOk),
  DisruptionTarget: var(--colorError),
  Initialized: var(--colorOk),
  PodReadyToStartContainers: var(--colorOk),
  PodResizeInProgress: var(--colorWarning),
  PodResizePending: var(--colorWarning),
  PodScheduled: var(--colorOk),
  Ready: var(--colorSuccess),
);

.PodDetails {
  .conditions {
    @each $status, $color in $pod-condition-colors {
      .#{$status} {
        background: $color;
        color: white;
      }
    }
  }

  .volume {
    .title {
      margin-top: $margin * 2;
      margin-bottom: $margin;
      font-weight: bold;
    }
  }
}
