@use "../workloads/workloads-mixins";
@use "../vars" as *;

.PodDetailsStatuses {
  span {
    padding-right: $margin;

    &.running {
      color: workloads-mixins.$pod-status-running-color;
    }
    &.pending {
      color: workloads-mixins.$pod-status-pending-color;
    }
    &.succeeded {
      color: workloads-mixins.$pod-status-succeeded-color;
    }
    &.failed {
      color: workloads-mixins.$pod-status-failed-color;
    }
  }
}
