@use "../workloads/workloads-mixins";
@use "../table/table.mixins";

.Pods {
  .TableCell {
    &.name {
      flex-grow: 2.5;
    }

    &.age {
      flex-grow: 0.5;
    }

    &.ip {
      flex-grow: 1;
    }

    &.qos {
      flex-grow: 0.8;
    }

    &.cpu {
      flex-grow: 0.4;
      justify-content: right;

      &.sorting {
        justify-content: left;
      }
    }

    &.memory {
      flex-grow: 0.6;
      justify-content: right;

      &.sorting {
        justify-content: left;
      }
    }

    &.restarts {
      flex-grow: 0.3;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.status {
      @include workloads-mixins.pod-status-colors;
      flex-grow: 0.7;
    }

    &.logs {
      flex: 0 0 29px;
    }
  }
}
