@use "../table/table.mixins";

.StorageClasses {
  .TableCell {
    &.is-default {
      flex: 0.5;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.age {
      flex: 0.3;
    }
  }
}
