@use "../workloads/workloads-mixins";
@use "../table/table.mixins";
@use "../vars" as *;

.Deployments {
  .TableCell {
    &.name {
      flex-grow: 1.5;
    }

    &.namespace {
      flex-grow: 1.5;
    }

    &.pods {
      flex-grow: 0.4;
    }

    &.replicas {
      flex-grow: 0.4;
    }

    &.age {
      flex-grow: 0.3;
    }

    &.status {
      flex-grow: 0.5;

      .running {
        color: workloads-mixins.$pod-status-running-color;
      }

      .pending {
        color: workloads-mixins.$pod-status-pending-color;
      }

      .failed {
        color: workloads-mixins.$pod-status-failed-color;
      }

      .scaled-to-zero {
        color: var(--textColorTertiary);
      }
    }

    &.logs {
      flex-grow: 0.2;
      justify-content: center;
    }

    &.warning {
      @include table.table-cell-warning;
    }
  }
}
