.ClusterMetrics {
  position: relative;
  min-height: 280px;
  padding: calc(var(--margin) * 2);
  background: var(--contentColor);

  .chart {
    :global(.chart-container) {
      width: 100%;
      height: 100%;
    }
  }

  .empty {
    text-align: center;
    padding-bottom: 45px;
  }
}
