.ClusterNoMetrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  flex-grow: 1;

  .link {
    color: var(--blue);
    cursor: pointer;
  }
}
