.NetworkPolicyDetails {
  .networkPolicyPeerTitle {
    text-transform: none;
  }

  .networkPolicyPeer {
    &:not(:last-of-type) {
      padding-bottom: 16px;
    }
  }

  ul.policySelectorList {
    list-style: disc;
  }

  .policySelectorList ul {
    list-style: circle;
    list-style-position: inside;
  }
}
