@use "../table/table.mixins";

.Endpoints {
  .TableCell {
    &.endpoints {
      flex-grow: 5;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.age {
      flex: 0.3;
    }
  }
}
