@use "../vars" as *;

.ConfigMapDetails {
  .data {
    margin-bottom: $margin * 2;

    .name {
      color: var(--textColorSecondary);
      font-weight: $font-weight-bold;
      padding-bottom: $padding * 0.5;
    }
  }

  .save-btn {
    margin-top: $margin;
  }
}
