.IngressClasses {
  .TableCell {
    &.is_default {
      .Checkbox {
        align-items: flex-start;
      }
    }

    &.age {
      flex-grow: 0.3;
    }
  }

  .Icon {
    &.set_default_icon {
      filter: brightness(0.75);

      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}
