@use "../../components/mixins.scss";

.KubeConfigDialog {
  :global(.Wizard) {
    width: 50vw;
    min-width: 600px;
    --wizard-content-height: 600px;
  }

  .configCopy {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

@include mixins.theme-light {
  .editor {
    border: 1px solid gainsboro;
    border-radius: var(--border-radius);
  }
}
