@use "../table/table.mixins";

.LimitRanges {
  .TableCell {
    &.warning {
      @include table.table-cell-warning;
    }

    &.age {
      flex-grow: 0.3;
    }
  }

  a.filterNamespace {
    border-bottom: unset;
  }
}
