@use "../network/network-mixins";
@use "../table/table.mixins";

.Services {
  .TableCell {
    &.type {
      flex: 0.6;
    }

    &.warning {
      @include table.table-cell-warning;
    }

    &.age {
      flex: 0.4;
    }

    &.selector {
      @include table.table-cell-labels-offsets;
    }

    &.status {
      @include network-mixins.service-status-colors;
      flex: 0.6;
    }
  }
}
