@use "../vars.scss";

.ServicesDetails {
  .title {
    margin-top: vars.$margin * 2;
    margin-bottom: vars.$margin;
  }

  .EndpointSlicesList {
    .TableCell {
      &.ports {
        flex-grow: 2;
      }

      &.endpoints {
        flex-grow: 3;
      }
    }
  }

  .LoadBalancerStatusPorts {
    .TableCell {
      &.port {
        flex-grow: 0.2;
      }

      &.protocol {
        flex-grow: 0.2;
      }
    }
  }
}
